<div class="row">
  <div class="col-sm-6">
    <p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="de" data-count="none" data-dnt="true">Twittern</a>
    </p>
  </div>
  <div class="col-sm-6">
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1443314552566603";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like" data-href="https://mehr-schulferien.de" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
  </div>
</div>