<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">BETA VERSION!</h3></div>
  <div class="panel-body">
    Dies ist eine Beta-Version. Fehler sind zu erwarten. Diese bitte im <%= link_to 'Github Issue Tracker eintragen', 'https://github.com/wintermeyer/mehr-schulferien.de/issues' %>.
  </div>
</div>