<% cache ['public_holiday_vacation_periods', federal_state, month] do %>
  <% if federal_state.public_holiday_vacation_periods(month).any? %>
    <p><small>
      <strong>
        <% if federal_state.public_holiday_vacation_periods(month).count == 1 %>
          Feiertag:
        <% else %>
          Feiertage:
        <% end %>
      </strong>
      <% federal_state.public_holiday_vacation_periods(month).each do |vacation_period| %>
        <% if vacation_period != federal_state.public_holiday_vacation_periods(month).last %>
          <%= vacation_period.vacation_type %> (<%= (l vacation_period.start_date, format: :short).strip %>), 
        <% else %>
          <%= vacation_period.vacation_type %> (<%= (l vacation_period.start_date, format: :short).strip %>)
        <% end %> 
      <% end %>
    </small></p>
  <% end %>
<% end %>