<div class="page-header">
  <h1><%= @federal_state %> <small>18-Monats-Übersicht</small></h1>
</div>

<div class="row">
  <div class="col-sm-9">
    <% cache [@federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, federal_state: @federal_state} %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">Roadmap</div>
      <div class="panel-body">
      <p>Bewegliche Ferientage sind das Hauptfeature der nächsten Tage/Wochen. Der Schulferienkalender wird dann pro Schule aufgerufen werden können.</p>
      </div>
    </div>
  </div>
</div>