<% breadcrumb :federal_state, @federal_state %>

<div class="page-header">
  <h1><%= @federal_state %> <br class="visible-xs"><small>18-Monats-Übersicht</small></h1>
</div>

<div class="row">
  <div class="col-sm-9">
    <% cache [@federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, federal_state: @federal_state} %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= render 'shared/roadmap' %>

    <% if School.where(city_id: @federal_state.cities.pluck(:id)).any? %>
      <% cache ['city_schools_sidebar', @city] do %>
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Städte mit Schulen</strong></div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <% @federal_state.cities.order(:name).each do |city| %>
                <li><%= link_to "#{city.zip_code} #{city}", city %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>    
  </div>
</div>