<% cache([months, federal_state, religion, modus]) do %>
  <% months.each_slice(3) do |months_in_a_row| %>
    <div class="row">
      <% months_in_a_row.each do |month| %>
        <div class="col-md-4">
          <%= render partial: "shared/month", locals: {month: month, federal_state: federal_state, religion: religion, modus: modus} %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
