<% cache([months, federal_state, religion, modus]) do %>
  <% months.each_slice(3) do |months_in_a_row| %>
    <div class="row">
      <% months_in_a_row.each do |month| %>
        <div class="col-md-4">
          <%= render partial: "shared/month", locals: {month: month, federal_state: federal_state, religion: religion, modus: modus} %>

          <% if month.events.where(eventable: federal_state).where(religion: [nil, religion]).where(event_type: EventType.find_by_name('Ferien')).any? %>
            <% event_types = ['Ferien', 'Feiertage'] %>
          <% else %>
            <% event_types = ['Feiertage'] %>
          <% end %>

          <% if modus == 'invers' %>
            <% event_types = ['Feiertage'] %>
          <% end %>

          <div class="row">
            <% event_types.each do |event_type| %>
              <div class="col-md-<%= 12 / event_types.size %>">
                <%= render partial: "shared/list_events", locals: {month: month, federal_state: federal_state, religion: religion, event_type: EventType.find_by_name(event_type), modus: modus} %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
