<% cache ['quick_overview_row', federal_state, months] do %>
  <div class="row">
    <div class="col-md-7">
      <h1><%= federal_state %></h1>
    </div>
    <div class="col-md-5">
      <h1>
        <%= link_to federal_state_path(federal_state), class: 'btn btn-default pull-right' do %>
          <span class="glyphicon glyphicon-calendar"></span> 18-Monats-Übersicht
        <% end %>
      </h1>
    </div>
  </div>
  <div class="row">
    <% first_three_months = months[0..2] %>
    <% first_three_months.each do |month| %>
      <% if month != first_three_months.last %>
        <div class="col-sm-6 col-md-4">
          <%= render partial: '/months/month', locals: {month: month, resource: federal_state} %>
        </div>
      <% else %>
        <div class="col-md-4 hidden-sm">
          <%= render partial: '/months/month', locals: {month: month, resource: federal_state} %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>