<div class="panel panel-default">
  <div class="panel-heading"><strong>Roadmap</strong></div>
  <div class="panel-body">
  <p>Aktuell in Arbeit:</p>
  <ul>
    <li>Vervollständigung der Schuldatenbank</li>
  </ul>
  <p>Für die nächsten Wochen/Monate geplant:</p>
  <ul>
    <li>Bewegliche Feiertage</li>
    <li>iCal Export</li>
  </ul>
  </div>
</div>