<% content_for :meta_description do %>
Impressum
<% end %>
<% content_for :html_title do %>
Impressum
<% end %>

<h1>Impressum</h1>
<p>
<address>
<strong>
AMOOMA GmbH
</strong>
<br>
Bachstr. 124
<br>
56566 Neuwied
</address>
<address>
E-Mail:
<a href="mailto:info@amooma.de">info@amooma.de</a>
<br>
<a href="http://amooma.de/">http://amooma.de</a>
</address>
</p>
<p>
<strong>
Vertretungsberechtigter Gesch&auml;ftsf&uuml;hrer:
</strong>
Stefan Wintermeyer
<br>
<br>
<b>
Registergericht:
</b>
Amtsgericht Montabaur
<br>
<b>
Registernummer:
</b>
HR B 4998
<br>
<br>
<b>
Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:
</b>
<br>
DE241612768
<br>
<br>
<b>
Inhaltlich Verantwortlicher gem&auml;&szlig; &sect; 10 Absatz 3 MDStV:
</b>
Stefan Wintermeyer
<br>
<br>
<b>
Haftungshinweis:
</b>
Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen
wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der
verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.
</p>
